[defaults]
inventory = /home/automation/plays/inventory
roles_path = /home/automation/plays/roles:/etc/ansible/roles
forks = 10
remote_user = automation
deprecation_warnings = False

[privilege_escalation]
become = false
