[defaults]
inventory = /home/automation/plays/inventory
roles_path = /home/automation/plays/roles:/etc/ansible/roles:/usr/share/ansible/roles
collections_path = /home/automation/plays/collections:/usr/share/ansible/collections
forks = 10
remote_user = automation
vault_password_file = /home/automation/plays/vault_key

[privilege_escalation]
become_user = root
become = false
