global
  user haproxy
  group haproxy
  daemon

backend http_back
  balance roundrobin
  {% for host in groups['webservers'] %}
  server {{ host }} {{ hostvars[host]['ansible_default_ipv4']['address'] }}:80 check
  {% endfor %}

frontend http_front
  bind: *:80
  default_backend http_back
